
@{
    ViewBag.Title = "BotondePago";
    Layout = "~/Views/Shared/_LayoutTipoPago.cshtml";
}

<div class="section section-gray">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="tab-content">
                        <div class="tab-pane" id="product-page1">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/boton1.jpg")" />
                        </div>
                        <div class="tab-pane active" id="product-page2">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/boton2.jpg")" />
                        </div>
                        <div class="tab-pane" id="product-page3">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/boton3.jpg")" />
                        </div>
                        <div class="tab-pane" id="product-page4">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/boton4.jpg")" />
                        </div>
                    </div>
                    <ul class="nav flexi-nav" role="tablist" id="flexiselDemo1">
                        <li>
                            <a href="#product-page1" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/boton1.jpg")" />
                            </a>
                        </li>
                        <li class="active">
                            <a href="#product-page2" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/boton2.jpg")" />
                            </a>
                        </li>
                        <li>
                            <a href="#product-page3" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/boton3.jpg")" />
                            </a>
                        </li>
                        <li>
                            <a href="#product-page4" role="tab" data-toggle="tab" aria-expanded="true">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/boton4.jpg")" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h2 class="title"> Botón de pago </h2>
                    <div id="acordeon">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            Descripción
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            El Botón de Pago es una herramienta que puedes insertar en tu sitio web o en un e-mail, y te va a permitir cobrar tus ventas de una manera simple y rápida.
                                            Tus clientes se deciden por uno de tus productos y hacen click en el botón de Pagar en tu sitio web. Así, son redireccionados al proveedor donde podrán elegir el método de pago. En pocos minutos, te pagarán utilizando las principales tarjetas de crédito como Visa, MasterCard y American Express o por otros medios que establezca el proveedor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            ¿Cómo funciona el botón de pago?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>En la página del proveedor, accede a las herramientas y crea el botón de pago</li>
                                            <li>Ingresas los datos como cuenta de recaudo, idioma, moneda, precio y descripción; luego escoge el diseño que se adapte al estilo de tu web</li>
                                            <li>Incrusta en tu página web el HTML que genera el proveedor y listo ya puedes recibir tus pagos</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            Requisitos
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Cuenta creada en la página del proveedor</li>
                                            <li>Configuración del botón en el HTML de la página de tu negocio</li>
                                            <li>Página web de tu negocio</li>
                                            <li>Conexión a internet</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--  end acordeon -->
                </div>
            </div>
        </div>
        <div class="features text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Beneficios </h4>
                        <ul>
                            <li>Sin costos de instalación ni mantenimiento. Sólo pagas una comisión por transacción</li>
                            <li>No hace falta que tu cliente esté registrado</li>
                            <li>Opción de creación de un recibo virtual</li>
                            <li>Ventas 24horas/7dias</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="material-icons">local_shipping</i>
                        </div>
                        <h4 class="info-title">Funcionamiento</h4>
                        <div class="iframe-container">
                            <iframe height="250" src="https://www.youtube.com/embed/ZW-76pbiFpo" frameborder="0" gesture="media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-rose">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Beneficios</h4>
                        <ul>
                            <li>Comienza a cobrar en minutos</li>
                            <li>No necesitas acuerdos con cada uno de los medios de pago</li>
                            <li>No necesitas conocimientos técnicos</li>
                            <li>Inserta el botón en tu página web o en tu blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="related-products">
            <h3 class="title text-center">Proveedores</h3>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="https://www.paypal.com/pe/webapps/mpp/account-selection">
                                <img class="img" src="@Url.Content("~/Content/assets/img/tipopago/pboton1.jpg")" />
                            </a>
                        </div>
                        <div class="card-content">

                            <h4 class="card-title">
                                <a href="https://www.paypal.com/pe/webapps/mpp/account-selection">Paypal Button</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="https://www.payulatam.com/pe/contactanos/">
                                <img class="img" src="@Url.Content("~/Content/assets/img/tipopago/pboton2.jpg")" />
                            </a>
                        </div>
                        <div class="card-content">

                            <h4 class="card-title">
                                <a href="https://www.payulatam.com/pe/contactanos/">PayU</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="https://www.culqi.com/precio.html">
                                <img class="img" src="@Url.Content("~/Content/assets/img/tipopago/pboton3.jpg")" />
                            </a>
                        </div>
                        <div class="card-content">

                            <h4 class="card-title">
                                <a href="https://www.culqi.com/precio.html">Culqi</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="https://registration.mercadopago.com.pe/registration-mp?mode=mp">
                                <img class="img" src="@Url.Content("~/Content/assets/img/tipopago/pboton4.jpg")" />
                            </a>
                        </div>
                        <div class="card-content">

                            <h4 class="card-title">
                                <a href="https://registration.mercadopago.com.pe/registration-mp?mode=mp">Mercado Pago</a>
                            </h4>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


