
@{
    ViewBag.Title = "DashButtons";
    Layout = "~/Views/Shared/_LayoutTipoPago.cshtml";
}

<div class="section section-gray">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="tab-content">
                        <div class="tab-pane" id="product-page1">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/dash1.jpg")" />
                        </div>
                        <div class="tab-pane active" id="product-page2">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/dash2.jpg")" />
                        </div>
                        <div class="tab-pane" id="product-page3">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/dash3.jpg")" />
                        </div>
                        <div class="tab-pane" id="product-page4">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/dash4.jpg")" />
                        </div>
                    </div>
                    <ul class="nav flexi-nav" role="tablist" id="flexiselDemo1">
                        <li>
                            <a href="#product-page1" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/dash1.jpg")" />
                            </a>
                        </li>
                        <li class="active">
                            <a href="#product-page2" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/dash2.jpg")" />
                            </a>
                        </li>
                        <li>
                            <a href="#product-page3" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/dash3.jpg")" />
                            </a>
                        </li>
                        <li>
                            <a href="#product-page4" role="tab" data-toggle="tab" aria-expanded="true">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/dash4.jpg")" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h2 class="title"> Dash Button </h2>
                    <div id="acordeon">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            Descripción
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            El invento se llama Amazon Dash Button, y es un pequeño dispositivo que se conecta mediante WiFi y se sincroniza con nuestra cuenta en Amazon. La idea es la máxima simplicidad, así que cada botón se asocia a un único producto de una marca concreta. Para comprar basta con pulsar el botón y el dispositivo encargará una unidad de ese producto a nuestra cuenta en Amazon.
                                            Amazon Dash Button envía una notificación al móvil por si queremos cancelar el pedido. Para evitar que los pequeños de la casa nos den un susto jugando con el botón, Dash solo encargará una unidad y no admitirá pedidos adicionales hasta que esta llegue a casa. No obstante, desde nuestra página de perfil en Amazon podemos cambiar esto para que pida distintas cantidades al pulsar.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            ¿Cómo funciona?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Sencillo es decir poco. Tras una primera configuración a través de un smartphone del Dash Button que deseemos, luego podremos 'pegarlo' a una superficie (la trasera incorpora un adhesivo para ello) y empezar a utilizarlo. Dispone de conexión WiFi de forma que puede asociarse a nuestra red inalámbrica; no se han aportado datos sobre posibles autonomías, batería utilizada o su método de recarga.

                                        Amazon Dash Button Gillette
                                        Una vez se haya realizado un pedido, el sistema notificará al usuario a través de correo electrónico. Por supuesto podremos tener múltiples Dash Buttons asociados a diferentes productos: uno en el baño para cuando se nos esté acabando el papel higiénico (sí, suena algo... extraño), otro en la despensa para hacer el pedido del agua mineral, otro para los pañales del bebé, para el café

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            Detalles de configuración y requisitos
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Una vez comprado el botón hay que configurarlos con la app del móvil para que se conecten al wifi de la casa y a nuestra cuenta de Amazon, así como elegir el producto concreto y la cantidad que encargaremos cada vez que pulsemos el botón. Cuando hacemos el pedido recibiremos una notificación en el móvil y hasta que no nos llegue a casa no servirá de nada volver a pulsarlo porque no hará más pedidos.

                                        Cuánto cuesta cada botón.
                                        Cada botón cuesta 4,99 dólares y por el momento existen dieciocho que abarcan cápsulas para la máquina de café, papel higiénico, pañales, sobres para hacer macarrones con queso, maquinillas de afeitar, bolsas de basura y refrescos como Izze o Gatorade.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--  end acordeon -->
                </div>
            </div>
        </div>
        <div class="features text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Beneficios </h4>
                        <ul>
                            <li>Comodidad: Claramente la facilidad que te proporciona el tocar un botón y que de forma inmediata tengas el pedido en casa, no te la ofrece ni teniendo un supermercado debajo de casa. Qué hay más fácil que tocar un botón, si nos pasamos la vida tocando botones del móvil, ordenador, interruptor, etc.</li>
                            <li>Rapidez: Una vez realizado el pedido, se recibirá al día siguiente. En la mayoría de las ocasiones si el producto no lo necesitas para el día siguiente, la compra la demoras hasta el último momento. Con este servicio lo tendrás de forma inmediata en tu domicilio.</li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="material-icons">local_shipping</i>
                        </div>
                        <h4 class="info-title">Funcionamiento</h4>
                        <div class="iframe-container">
                            <iframe height="250" src="https://www.youtube.com/embed/NT056s2oxBs" frameborder="0" gesture="media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-rose">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Beneficios</h4>
                        <ul>
                            <li>Evita los pedidos múltiples: ¿Qué ocurre si se acaban el papel higiénico y pulsas el botón,… y tu hijo, y tu marido, y el abuelo?. No hay problema, desde la App puedes activar la opción de confirmación del pedido. Recibirás una notificación para continuar con el mismo o cancelarlo.</li>
                            <li>Proximidad: Dash Button es un supermercado en casa. No todo el mundo tiene la suerte de vivir encima de un Mercadona, o al lado de un Carrefour. A veces para ir a comprar casi tienes que planificarlo o hacer un gran pedido por internet. Esta nueva opción te permite realizar la compra desde casa.</li>
                            <li>Sin pedidos mínimos: Comprar desde casa no es una novedad, hasta ahora podíamos entrar en un e-commerce, realizar nuestro pedido y nos lo traían a casa de una forma cómoda, rápida y cercana. Sin embargo, muchos tienen un pedido mínimo o unos gastos de envío que obligan a realizar una compra importante. Con Dash Button no es necesario, se pide lo que se necesita.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="related-products">
            <h3 class="title text-center">Proveedores</h3>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="https://www.amazon.com/Dash-Buttons/b?ie=UTF8&node=10667898011">
                                <img class="img" src="@Url.Content("~/Content/assets/img/tipopago/pdash1.jpg")" />
                            </a>
                        </div>
                        <div class="card-content">

                            <h4 class="card-title">
                                <a href="https://www.amazon.com/Dash-Buttons/b?ie=UTF8&node=10667898011">Amazon (SOLO USA)</a>
                            </h4>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
