
@{
    ViewBag.Title = "SolucionesSocialBankingWhatsapp";
    Layout = "~/Views/Shared/_LayoutTipoPago.cshtml";
}

<div class="section section-gray">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="tab-content">
                        <div class="tab-pane" id="product-page1">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/wpp1.jpg")" />
                        </div>
                        <div class="tab-pane active" id="product-page2">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/wpp2.jpg")" />
                        </div>
                        <div class="tab-pane" id="product-page3">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/wpp3.jpg")" />
                        </div>
                        <div class="tab-pane" id="product-page4">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/wpp4.jpg")" />
                        </div>
                    </div>
                    <ul class="nav flexi-nav" role="tablist" id="flexiselDemo1">
                        <li>
                            <a href="#product-page1" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/wpp1.jpg")" />
                            </a>
                        </li>
                        <li class="active">
                            <a href="#product-page2" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/wpp2.jpg")" />
                            </a>
                        </li>
                        <li>
                            <a href="#product-page3" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/wpp3.jpg")" />
                            </a>
                        </li>
                        <li>
                            <a href="#product-page4" role="tab" data-toggle="tab" aria-expanded="true">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/wpp4.jpg")" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h2 class="title"> Soluciones Social Banking (Whatsapp) </h2>
                    <div id="acordeon">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            Descripción
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Las soluciones de social banking engloban a los procesos de pago realizados mediante redes sociales, para este caso se toma en cuenta la red social Whatsapp en donde se permite la transferencia de dinero de un usuario a otro, por lo tanto se puede generar un nuevo modelo de pago. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            Comunicación con el cliente
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lo puedes usar como servicio de atención para responder las dudas de los clientes. A muchas personas no les gusta tener que llamar por teléfono, por el posible coste y porque muchas veces tienen que esperar. Tampoco el correo electrónico es una solución muy valorada, porque no se sabe si alguien lo ha leído ni cuándo va a responder. Con WhatsApp, se puede ver en directo si el mensaje ha sido entregado y leído. También se sabe si la otra persona está en línea, y si no, cuando fue la última vez que lo estuvo. Es una herramienta que permite tener un contacto muy rápido y cercano con el cliente.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            Requisitos
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Conexión a internet</li>
                                            <li>Smartphone</li>
                                            <li>Aplicación Whatsapp instalada</li>
                                            <li>Cuenta para la transferencia de dinero</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--  end acordeon -->
                </div>
            </div>
        </div>
        <div class="features text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Beneficios </h4>
                        <li>Transferencia segura regulada por whatsapp</li>
                        <li>El receptor del mensaje siempre confía en el remitente del mismo. Si está en nuestra lista de contactos, sabemos quién nos escribe, aunque si no lo está podemos intentar ver, a través de su perfil, su identidad.</li>
                        <li>El receptor, siempre lee los mensajes. La nueva actualización de Whatsapp nos indica la entrega de los mismos mediante un doble “checking” de color azul, cuando el mensaje ha sido leído.</li>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="material-icons">local_shipping</i>
                        </div>
                        <h4 class="info-title">Funcionamiento</h4>
                        <div class="iframe-container">
                            <iframe src="https://www.youtube.com/embed/IN6QnLpVEPI?modestbranding=1&amp;autohide=1&amp;showinfo=0" frameborder="0" allowfullscreen="" height="250"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-rose">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Beneficios</h4>

                        <li>¿Cuántas veces entras en Whatsapp al cabo del día?. Un usuario normal entra más de 50 veces al día a esta aplicación.</li>
                        <li>Existen otras opciones para la mensajería instantánea, pero la gran mayoría de usuarios prefiere Whatsapp a cualquier otra aplicación del mercado.</li>

                    </div>
                </div>
            </div>
        </div>
        <div class="related-products">
            <h3 class="title text-center">Proveedores</h3>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="https://play.google.com/store/apps/details?id=com.whatsapp&hl=es_419">
                                <img class="img" src="@Url.Content("~/Content/assets/img/tipopago/pwpp1.jpg")" />
                            </a>
                        </div>
                        <div class="card-content">

                            <h4 class="card-title">
                                <a href="https://play.google.com/store/apps/details?id=com.whatsapp&hl=es_419">Whatsapp</a>
                            </h4>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>