
@{
    ViewBag.Title = "TarjetasFidelizacion";
    Layout = "~/Views/Shared/_LayoutTipoPago.cshtml";
}

<div class="section section-gray">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="tab-content">
                        <div class="tab-pane" id="product-page1">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/fidelizacion1.jpg")" />
                        </div>
                        <div class="tab-pane active" id="product-page2">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/fidelizacion2.jpg")" />
                        </div>
                        <div class="tab-pane" id="product-page3">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/fidelizacion3.jpg")" />
                        </div>
                        <div class="tab-pane" id="product-page4">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/fidelizacion4.jpg")" />
                        </div>
                    </div>
                    <ul class="nav flexi-nav" role="tablist" id="flexiselDemo1">
                        <li>
                            <a href="#product-page1" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/fidelizacion1.jpg")"/>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#product-page2" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/fidelizacion2.jpg")"/>
                            </a>
                        </li>
                        <li>
                            <a href="#product-page3" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/fidelizacion3.jpg")"/>
                            </a>
                        </li>
                        <li>
                            <a href="#product-page4" role="tab" data-toggle="tab" aria-expanded="true">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/fidelizacion4.jpg")"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h2 class="title"> Tarjetas de fidelización </h2>
                    <div id="acordeon">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            Descripción
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            Son unas tarjetas, iguales en forma que las tarjetas de crédito y tarjetas de débito, que son emitidas por bancos, entidades financieras y empresas, cuyo objetivo es fidelizar al cliente para que realice todas, o la mayoría, de sus compras en un determinado establecimiento o grupo de tiendas.
                                            Para esto, estas tarjetas aportan al cliente que las utilice una serie de beneficios, normalmente, descuentos y ofertas en sus productos y servicios.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            Detalle del funcionamiento
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        En el momento de la compra, la tarjeta se entrega al dependiente o cajero, que la pasa por el lector, cargándose un número de puntos proporcional al importe de la compra.
                                        Los sistemas de tarjetas de fidelización y sus «programas de puntos» se basan en complejas soluciones de software de marketing relacional, así como en otros sistemas de gestión de puntos.
                                        Los puntos acumulados dan derecho a la obtención de regalos, descuentos en productos habituales o servicios gratuitos. Para divulgarlo, las empresas editan folletos o catálogos que reparten a los usuarios informando de los regalos que pueden obtener en función de los puntos por canjear. Evidentemente, éstos son de mayor envergadura cuanto mayor es la cuantía obtenida.
                                        Se llaman tarjetas de fidelización porque lo que busca el empresario es que el cliente, atraído por la obtención de puntos (y los regalos posteriores), consuma con mayor frecuencia los productos y servicios de su marca en detrimento de las competidoras.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            Tipos de tarjetas de fidelización
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>De descuento directo: Estas sirven para aplicar un porcentaje de descuento sobre los productos que se compran, haciendo así que paguemos menos por el producto en cuestión.</li>
                                            <li>De acumulación de puntos: Estas aplican sistemas de puntos (normalmente un porcentaje del dinero gastado) para ir acumulando puntos que más tarde pueden ser canjeados por dinero o regalos.</li>
                                            <li>De ventajas: Estas dan una serie de privilegios tales como: mayor periodo de devolución de compras, cajas preferentes de pago, invitaciones a eventos especiales</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--  end acordeon -->
                </div>
            </div>
        </div>
        <div class="features text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Beneficios </h4>
                        <ul>
                            <li>El cliente se decanta por tu empresa: Si ofreces un producto gratuito, una de las características más comunes de las Tarjetas de Fidelización, a menudo puede suponer el punto de inflexión que hace que los clientes elijan tu tienda, incluso cuando tienen otra opción igualmente atractiva.</li>
                            <li>El regalo es un bien preciado, y valorado: Tu cliente siempre agradecerá los obsequios que le entregues mediante su Tarjeta de Fidelización. </li>
                            <li>Ofrecer descuentos para conseguir ingresos: Si la escala de tu negocio no te permite ofrecer productos gratuitos, puede ofrecer una tarjeta de fidelización con descuentos atractivos. </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="material-icons">local_shipping</i>
                        </div>
                        <h4 class="info-title">Funcionamiento</h4>
                        <div class="iframe-container">
                            <iframe height="250" src="https://www.youtube.com/embed/wzi31CFbGGQ" frameborder="0" gesture="media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-rose">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Beneficios</h4>
                        <ul>
                            <li>Ventas especiales: Para un negocio de venta al por menor, un programa de fidelización que ofrece acceso a una venta especial puede significar un aumento significativo en los negocios. Para su aplicación, debes registrar las cantidades de compra de los clientes.</li>
                            <li>Alusión a factores emocionales del consumidor: Con estas tarjetas aludes directamente el lado emocional del comprador, buscando suscitar su interés con suculentos regalos, puntos o promociones. </li>
                            <li>Fidelización, estrategia de retención: Tener un cliente fiel puede significar tener a un usuario incondicional, que accederá y consumirá todos tus productos o servicios.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="related-products">
            <h3 class="title text-center">Proveedores</h3>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="http://www.loyaltyperu.com/home.html">
                                <img class="img" src="@Url.Content("~/Content/assets/img/tipopago/pfidelizacion1.jpg")" />
                            </a>
                        </div>
                        <div class="card-content">

                            <h4 class="card-title">
                                <a href="http://www.loyaltyperu.com/home.html">Loyalty Perú</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="http://www.evolis.pe/fidelizacion/">
                                <img class="img" src="@Url.Content("~/Content/assets/img/tipopago/pfidelizacion2.jpg")" />
                            </a>
                        </div>
                        <div class="card-content">

                            <h4 class="card-title">
                                <a href="http://www.evolis.pe/fidelizacion/">Evolis</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="http://www.lumens.info/catalogo_detalle.php?id=53">
                                <img class="img" src="@Url.Content("~/Content/assets/img/tipopago/pfidelizacion3.jpg")" />
                            </a>
                        </div>
                        <div class="card-content">

                            <h4 class="card-title">
                                <a href="#pablo">Lumens</a>
                            </h4>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>