
@{
    ViewBag.Title = "TencnologiaCognitivaChatbotFacebook";
    Layout = "~/Views/Shared/_LayoutTipoPago.cshtml";
}

<div class="section section-gray">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="tab-content">
                        <div class="tab-pane" id="product-page1">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/chatbot1.jpg")" />
                        </div>
                        <div class="tab-pane active" id="product-page2">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/chatbot2.jpg")" />
                        </div>
                        <div class="tab-pane" id="product-page3">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/chatbot3.jpg")" />
                        </div>
                        <div class="tab-pane" id="product-page4">
                            <img src="@Url.Content("~/Content/assets/img/tipopago/chatbot4.jpg")" />
                        </div>
                    </div>
                    <ul class="nav flexi-nav" role="tablist" id="flexiselDemo1">
                        <li>
                            <a href="#product-page1" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/chatbot1.jpg")" />
                            </a>
                        </li>
                        <li class="active">
                            <a href="#product-page2" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/chatbot2.jpg")" />
                            </a>
                        </li>
                        <li>
                            <a href="#product-page3" role="tab" data-toggle="tab" aria-expanded="false">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/chatbot3.jpg")" />
                            </a>
                        </li>
                        <li>
                            <a href="#product-page4" role="tab" data-toggle="tab" aria-expanded="true">
                                <img src="@Url.Content("~/Content/assets/img/tipopago/chatbot4.jpg")" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h2 class="title"> Tecnología cognitiva (Chatbot) </h2>
                    <div id="acordeon">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            Descripción
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            Los chatbots de Facebook son programas de inteligencia artificial que conversan con los humanos dando respuesta a sus dudas y haciéndoles sugerencias; en definitiva, se trata de un software que es capaz de comunicarse con nosotros.
                                            En el caso de Facebook, esta funcionalidad se integra dentro de su aplicación de Messenger. Por ejemplo, 1-800-Flowers permite encargar un ramo de flores para un amigo simplemente enviándole al bot el nombre del amigo en cuestión, mientras que CNN puede enviarte un resumen diario de historias que se corresponden con tus intereses, dejando de lado los temas que no te interesan.
                                            Como es lógico, esta novedad está destinada principalmente a empresas, pero afectará de una manera u otra a los 900 millones de usuarios activos mensuales de la aplicación de mensajería de esta red social. En el marco de su congreso de desarrolladores F8, Mark Zuckerberg afirmó que los usuarios de Facebook Messenger podrán hablar con los chatbots tal y como lo hacen con sus amigos.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            ¿Cómo funcionan los chatbots de Facebook?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        A través de la nueva API de Facebook Messenger, los bots podrán interactuar con los usuarios a través de texto, imágenes, enlaces y botones de llamada a la acción. Gracias a ellos, los usuarios pueden realizar acciones como reservar una mesa en un restaurante, revisar una compra online, resolver sus dudas sobre un producto y más. En la actualidad no se permiten hacer pagos de manera directa a través de Messenger, pero sí es posible revisar catálogos de productos enlazados a la web para completar allí la transacción.
                                        Una barra en la parte superior de Messenger ayudará a los usuarios a descubrir los nuevos bots. Las empresas que ya están comunicándose con sus clientes por SMS podrán usar una herramienta de Twilio para mover fácilmente esas conversaciones a Messenger. Todas las conversaciones de Messenger con chatbots tendrán un botón de "bloquear" en la parte superior, para que el usuario tenga el control de cuándo silenciarlos.
                                        Los desarrolladores podrán crear sus propios bots o trabajar con los socios de desarrollo de bots de Facebook. Además, Facebook dispone de su propio Bot Engine, construido en colaboración con la startup Wit.ai. Basándose en el mismo sistema empleado por Facebook para enseñar a su propio sistema de inteligencia artificial, M, los desarrolladores pueden enviar al Bot Engine conversaciones de ejemplo para que aprenda a manejar situaciones semejantes por sí mismo.

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-border panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            ¿Qué aporta esta novedad a las marcas?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        La principal ventaja de los chatbots de Facebook para las marcas es, sin duda, facilitar la gestión de la atención del cliente. Automatizar esta función permitirá atender a los usuarios en menos tiempo y con un coste menor; además, algunos estudios indican que a las personas les resulta más cómodo interactuar con este tipo de programas online que con un humano real al teléfono.
                                        Otra funcionalidad de esta novedad serán las nuevas posibilidades publicitarias. Para monetizar la plataforma, Facebook permitirá a las empresas enviar anuncios con mensajes patrocinados a las personas que ya hayan iniciado voluntariamente una conversación con la marca. También añadirá una nueva opción a los anuncios de la sección Últimas noticias, de manera que los usuarios puedan iniciar una conversación con un bot haciendo un clic.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--  end acordeon -->
                </div>
            </div>
        </div>
        <div class="features text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Beneficios </h4>
                        <ul>
                            <li>Tú puedes ir un paso más allá con la ayuda del “bot” de Facebook Messenger, el cual puede rápidamente analizar datos y recomendar productos y servicios en base a ellos. Y si, además, tu chatbot incluye atractivas llamadas a la acción como: “Inscríbete” o “Haz tu pedido”, sin dudas te resultará muy beneficioso.</li>
                            <li>Otra gran ventaja de estos chatbots es la capacidad para establecer una conexión más personal con tus usuarios. Tal vez te parezca un poco paradójico, ya que estás programando un algoritmo para responder preguntas automáticamente, pero en comparación con las innumerables “preguntas frecuentes” o los larguísimos y monótonos mensajes de las Unidades de Respuesta de Voz (VRU), una respuesta coherente y bien redactada puede ser el inicio a una gran amistad. Una respuesta instantánea es algo tan poco frecuente que, contestar una pregunta o dar la solución a un problema al instante, te convertirá en la novedad.</li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="material-icons">local_shipping</i>
                        </div>
                        <h4 class="info-title">Funcionamiento</h4>
                        <div class="iframe-container">
                            <iframe height="250" src="https://www.youtube.com/embed/OuV-CyYX0Sw" frameborder="0" gesture="media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-rose">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Beneficios</h4>
                        <ul>
                            <li>El asistente de compras – además de funcionar como un asistente personal de compras, el chatbot de Burberry utiliza GIFs y emojis para atraer la atención de un usuario y mejorar su experiencia de compra. Una vez que el cliente entra en Messenger, se le ofrecen nuevos productos, son redireccionados a las secciones específicas de la página de Burberry y hasta pueden agregar artículos a su carrito de la compra.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="related-products">
            <h3 class="title text-center">Proveedores</h3>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="https://messenger.fb.com/get-started">
                                <img class="img" src="@Url.Content("~/Content/assets/img/tipopago/carrier1.jpg")" />
                            </a>
                        </div>
                        <div class="card-content">

                            <h4 class="card-title">
                                <a href="https://messenger.fb.com/get-started">Facebook</a>
                            </h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

